<h1>Login</h1>
<a href="/">Home</a><br><br>

Login con Passport
<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <Br>
    <label>Contraseña</label>
    <input name="password">
    <Br>
    <button type="submit">Enviar</button>
</form>

<script src="./js/loginPassport.js"></script>


<style>
    * {
        background-color: grey;
    }
</style>