<h1> register</h1>
<a href="/">Home</a><br><br>

<form id="registerForm">
    <label>Email</label>
    <input name="email">
    <Br>
    <label>Contraseña</label>
    <input name="password">
    <Br>
    <button type="submit">Enviar</button>
</form>

<script src="./js/register.js"></script>

<style>
    * {
        background-color: grey;
    }
</style>